@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --section-rotate: 9vw;
  --primary-color: #0a7575;
}

::-moz-selection {
  background-color: #5755c5;
  color: #fff;
}

::selection {
  background-color: #556fc5;
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  /* font-size: 90.5%; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: #777;
  padding: 1.2rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.navbar:hover {
  background: transparent;
}

.logo {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.user-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 30%;
  margin: 0 auto;
  top: 20px;
  background-image: linear-gradient(to right, #7dd56f, #28b487);
}

.user-auth form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    width: 200px;
    height: 30px;
    margin: 10px;
  }

  .login button {
    background-color: var(--primary-color);
    color: #000000;
    border: none;
    padding: 8px 16px;
    letter-spacing: 1px;
    border-radius: 8px;
    cursor: pointer;
    height: 30px;
    width: 200px;
  }

  span {
    color: red;
    font-size: 15px;
  }
}

.homePage {
  background: url("./images/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 8rem;
  margin-left: 20px;
  margin-right: 20px;
  h1 {
    color: white;
    padding-left: 9rem;
    font-size: 5rem;
  }

  h6 {
    padding-left: 9rem;
    font-size: 4rem;
    color: black;
    font-weight: 500;
  }

  p {
    padding-left: 11rem;
    font-size: 3rem;
    font-weight: 400;
    color: white;
    padding-top: 8rem;
  }
}

.card-container {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;

  .card {
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .card__header {
    position: relative;
  }
  .card__picture {
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
    clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
    height: 22rem;
    overflow: hidden; /* Ensure the overlay doesn't overflow */
  }

  .card__picture-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#6f7ed5),
      to(#2888b4)
    );
    background-image: linear-gradient(to right bottom, #6f7ed5, #2a28b4);
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
  .card__picture:hover .card__picture-overlay {
    opacity: 0;
  }

  .card__picture-img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .card__picture:hover .card__picture-img {
    transform: scale(1.1);
  }

  .card__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.75rem;
    grid-column-gap: 2rem;
    padding: 2.5rem 3rem;
  }
  .card__sub-heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    grid-column: 1 / -1;
  }
  .card__text {
    grid-column: 1 / -1;
    font-size: 1.5rem;
    font-style: italic;
    margin-top: -1rem;
    margin-bottom: 0.75rem;
  }

  .pin {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }

  .pin-text {
    float: center;
    font-size: 1.5rem;
  }
}

.footer {
  width: 100%;
  background-color: #f7f7f7;
  padding: 6rem 4rem 3rem 4rem;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;

  @media only screen and (max-width: 50em) {
    .footer {
      grid-template-columns: 1fr;
      grid-row-gap: 1.25rem;
      justify-items: center;
    }
  }
  .footer__logo {
    grid-row: 1 / 3;
    -ms-flex-item-align: center;
    align-self: center;
  }
  @media only screen and (max-width: 50em) {
    .footer__logo {
      grid-row: 1;
    }
  }
  .footer__logo img {
    height: 6rem;
    cursor: pointer;
  }
  .footer__nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__nav li {
    margin-left: 1.5rem;
  }
  .footer__nav a {
    font-size: 2rem;
    color: #014b41;
    text-decoration: none !important;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .footer__nav a:hover,
  .footer__nav a:active {
    color: #556ac5;
  }
}

.blogPage {
  width: 100%;
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;

  .blogPage-container {
    width: 80%;
    height: auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
  }
  .blogPage-container h1 {
    text-align: center;
  }

  .blogPage-container label {
    font-size: 25px;
  }

  .blogPage-container .input-group {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
  }
  .input-group input,
  .input-group textarea {
    font-size: 18px;
    border: none;
    border-radius: 2px;
    padding: 5px;
  }

  .input-group input {
    height: 40px;
  }
  .input-group textarea {
    height: 150px;
  }
  .input-group button {
    margin-top: 20px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  .input,
  textarea {
    margin-top: 5px;
  }
}

/* GOOGLE BUTTON */
.login-with-google-btn {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 5px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 225px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", Droid Sans, "Helvetica neue", sans-serif;
  /* background-image: url(data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMTgighlaWd0iT); */
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.login-with-google-btn:active {
  background-color: #eeeeee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}

.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
